@import "../../styles/variables";
.c-get-users {
  &__wrapper {
    max-width: 1170px;
    width: 100%;
    padding: 140px 0;
  }
  &__header {
    margin-bottom: 50px;
  }
  &__title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: $c-black87;
  }
  &__users {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__btn {
    display: flex;
    justify-content: center;
  }
  &__btnn {
    background: $c-primary;
    color: rgba(0, 0, 0, 0.87);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 4px 23px;
    border-radius: 80px;
    border: none;
    cursor: pointer;
    transition: $t-transition;
  }
  &__btnn:hover {
    background: $c-disabled;
    color: $c-white;
  }
  &__hide-btn {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .c-get-users {
    &__users {
      max-width: 904px;
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 282px 282px 282px;
      justify-content: space-between;
      margin-bottom: 50px;
    }
  }
}
@media screen and (max-width: 800px) {
  .c-get-users {
    &__users {
      max-width: 704px;
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 344px 344px;
      justify-content: space-between;
      margin-bottom: 50px;
    }
  }
}
@media screen and (max-width: 720px) {
  .c-get-users {
    &__users {
      max-width: 704px;
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 328px;
      justify-content: center;
      margin-bottom: 50px;
    }
  }
}
