//COLORS

$c-primary: #f4e041;
$c-primary-hover: #ffe302;
$c-disabled: #b4b4b4;
$c-secondary: #00bdd3;
$c-background: #f8f8f8;
$c-white: white;
$c-black87: rgba(0, 0, 0, 0.87);

//FONTS

$f-base: "Nunito Sans";
